.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}

/* COMMON
============================================================================ */
html {
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}
a {
    text-decoration:none;
}
iframe {
    width: 100%;
}
form {
    width: 100%;
    padding: 0;
    margin: 0;
}
image {
    width: 100%;
    height: 100%;
}
.horizontal-align {
    display: flex;
    flex-direction: row;
}
.vertical-align {
    display: flex;
    flex-direction: column;
}

/* HEADER
============================================================================ */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.page-title {
    margin-top: 8px;
    font-family: 'Lato', sans-serif;
    font-size: 46px;
}
.main-nav {
    display: flex;
    text-transform: uppercase;
    list-style: none;
}
.main-nav li {
    margin-top: 37px;
    font-size: 16px;
    margin-left: 36px;
}
.main-nav a {
    color: inherit;
}
.search-form {
    margin-left: 80px;
}
.search-form input{
    margin-top: 32px;
    height: 26px;
    vertical-align: bottom;
}

/* Humberger menu */
#hmbg-chbox {
    display: none;
}
#hmbg-icon {
    cursor: pointer;
    align-self: center;
}
.hmbg-nav {
    display: none;
    position: absolute;
    width: 50%;
    height: 100%;
    margin-top: 14px;
    background-color: white;
}
.hmbg-nav ul {
    list-style: none;
    text-transform: uppercase;
}
#hmbg-close {
    display: none;
}
#hmbg-chbox:checked ~ .hmbg-nav {
    display: flex;
    animation: 1s fadeIn;
}
#hmbg-chbox:checked ~ #hmbg-icon #hmbg-open {
    display: none;
}
#hmbg-chbox:checked ~ #hmbg-icon #hmbg-close {
    display: block;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .main-nav {
        display: none;
    }
    .page-title a {
        width: 100%;
    }
}
@media screen and (min-width: 1000px) {
    #hmbg-icon {
        visibility: hidden;
    }
}


/* BODY
============================================================================ */
body {
    width: 100%;
}

/* Home */
.main-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.frame-index-left {
    width: 18%;
}
.frame-index-right {
    width: 79%;
}
.cat-header {
    display: flex;
    width: 100%;
    align-items: baseline;
}
.show-all {
    margin-left: auto;
}
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 2%;
}
.grid img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin-bottom: 10px;
}
.grid a {
    text-decoration: none;
    color: black;
}
.topic {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    border: 1px solid #dcdcdc;
    padding-bottom: 2%;
}
.topic-title {
    line-height: 1.5rem;
    font-weight: 700;
    margin-top: 5px;
}
.topic-date {
    font-size: 12px;
    color: #b3b3b3;
    margin-top: auto;
}
.topic p {
    margin-left: 3%;
    margin-right: 3%;
}
.tag {
    font-size: 0.75rem;
    line-height: 1.5rem;
    color: white;
    background-color: #0097b2;
    width: fit-content;
}

/* Article */
.frame-article-left {
    width: 20%;
}
.frame-article-middle {
    width: 50%;
}
.frame-article-right {
    width: 20%;
}
.big-image {
    margin: 40px 0 60px 0;
    width: 100%;
}
.frame-article-middle p {
    line-height: 2rem;
}
.frame-article-middle h2 {
    font-size: 1.6rem;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 5px 20px;
    background-color: #ebebeb;
}
.index-title {
    font-size: 1.5rem;
}

@media screen and (max-width: 1300px) {
    .frame-article-right {
        visibility: hidden;
        width: 0%;
    }
    .frame-article-middle {
        width: 70%;
    }
    .frame-article-left {
        width: 25%;
    }
}


/* FOOTER
============================================================================ */
footer {
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: #dadada;
    vertical-align: middle;
}
.footer-text {
    margin-top: 4px;
    text-align: center;
}