@font-face {
    font-family: "Noto Sans JP";
    src: url("..\fonts\NotoSansJP-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "FiraMono";
    src: url("../fonts/FiraMono-Regular.ttf") format("truetype");
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}

/* COMMON
============================================================================ */
html {
    font-size: 14px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    background: white;
}
a {
    text-decoration:none;
}
iframe {
    width: 100%;
}
form {
    width: 100%;
    padding: 0;
    margin: 0;
}
image {
    width: 100%;
    height: 100%;
}
code {
    font-family: "FiraMono";
    display: inline-block;
    line-height: 1.5rem;
    background: #eeeeee;
    padding: 0 5px;
}
pre {
    width: 100%;
    padding: 1em 0.5em;
    margin-top: 0.8em;
    margin-bottom: 1.2em;
    background: #25292f;
    border-radius: 3px;
    white-space: pre-wrap;
}
blockquote {
    color: #2a2a2a;
    border-left: #8d8d8d 5px solid;
    padding: 15px;
    margin: 1em 0 1em 13px;
}
.horizontal-align {
    display: flex;
    flex-direction: row;
}
.vertical-align {
    display: flex;
    flex-direction: column;
}

/* HEADER
============================================================================ */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.page-title {
    margin-top: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 46px;
    text-align: bottom;
}
.main-nav {
    display: flex;
    text-transform: uppercase;
    list-style: none;
}
.main-nav li {
    margin-top: 37px;
    font-size: 16px;
    margin-left: 36px;
}
.main-nav a {
    color: inherit;
}
.search-form {
    margin-left: 80px;
}
.search-form input{
    margin-top: 32px;
    height: 26px;
    vertical-align: bottom;
}

/* Humberger menu */
#hmbg-chbox {
    display: none;
}
#hmbg-icon {
    cursor: pointer;
    align-self: center;
}
.hmbg-nav {
    display: none;
    position: absolute;
    width: 50%;
    height: 100%;
    margin-top: 14px;
    background-color: white;
}
.hmbg-nav ul {
    list-style: none;
    text-transform: uppercase;
}
#hmbg-close {
    display: none;
}
#hmbg-chbox:checked ~ .hmbg-nav {
    display: flex;
    animation: 1s fadeIn;
}
#hmbg-chbox:checked ~ #hmbg-icon #hmbg-open {
    display: none;
}
#hmbg-chbox:checked ~ #hmbg-icon #hmbg-close {
    display: block;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .main-nav {
        display: none;
    }
    .page-title a {
        width: 100%;
    }
}
@media screen and (min-width: 1000px) {
    #hmbg-icon {
        visibility: hidden;
    }
}


/* BODY
============================================================================ */
body {
    width: 100%;
    background: #f1f2f3;
}


/* Home */
.main-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.frame-index-left {
    width: 18%;
}
.frame-index-right {
    width: 79%;
}
.cat-header {
    display: flex;
    width: 100%;
    align-items: baseline;
}
.show-all {
    margin-left: auto;
    text-decoration: none;
    color: #2a2a2a;
}
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 2%;
}
.grid img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 3px;
}
.grid a {
    text-decoration: none;
    color: black;
    background: #ffffff;
    padding: 6px;
}
.topic {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 330px;
    border: 1px solid #dcdcdc;
    padding-bottom: 2%;
    border-radius: 6px;
}
.topic-title {
    line-height: 1.5rem;
    font-weight: 700;
    margin-top: 5px;
}
.topic-date {
    font-size: 12px;
    color: #b3b3b3;
    margin-top: auto;
}
.topic p {
    margin-left: 3%;
    margin-right: 3%;
}
.tag {
    font-size: 0.75rem;
    line-height: 1.5rem;
    color: white;
    background-color: #0097b2;
    width: fit-content;
    border-radius: 2px;
    margin-top: 10px;
}

/* Article */
.frame-article-left {
    width: 15%;
    height: auto;
}
.frame-article-middle {
    background: #ffffff;
    width: 60%;
    padding: 30px 50px 200px 50px;
    margin-right: 20px;
    margin-bottom: 300px;
    border-radius: 5px;
}
.frame-article-right {
    width: 20%;
}
#article-index {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 30px;
}
#article-index a {
    font-weight: 400;
    color: #000000;
    line-height: 2rem;
    padding-left: 10px;
}
#index-title {
    margin-bottom: 1em;
    padding: 0.6em 0;
    border-bottom: #888888 1px solid;
    padding-left: 10px;
}
.big-image {
    margin: 40px 0 60px 0;
    width: 100%;
}
.frame-article-middle p {
    line-height: 2rem;
}
.frame-article-middle h2 {
    font-size: 1.6rem;
    padding: 5px 20px;
    margin: 80px 0 25px 0;
    background-color: #ebebeb;
    border-left: #0097b2 solid;
    border-width: 6px;
}
.frame-article-middle h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px gray solid;
}
.frame-article-middle ul,
.frame-article-middle ol {
    margin: 15px 40px;
    line-height: 2rem;
}
.frame-article-middle img {
    width: 100%;
    margin: 10px 0 20px 0;
}
.index-title {
    font-size: 1.5rem;
}
#article-index .current {
    background: #e0e3e5;
}

@media screen and (max-width: 1300px) {
    .frame-article-left {
        visibility: hidden;
        width: 0%;
    }
    .frame-article-middle {
        width: 65%;
    }
    .frame-article-right {
        width: 20%;
    }
}

/* ASIDE
============================================================================ */
.cat-title {
    margin-bottom: 1em;
    padding: 0.6em 0;
    border-bottom: #888888 1px solid;
}
.categories a {
    text-decoration: none;
    color: inherit;
}
.categories a :hover {
    background: #b3b3b3;
}

/* PAGINATION
============================================================================ */
.pagination {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.clear-fix {
    display: inline-flex;
    justify-content: center;
    list-style: none;
}
.clear-fix a, .prev-page button, .next-page button {
    color: #0097b2;
    border: #0097b2 1px solid;
    padding: 5px;
    margin: 0 5px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}
.clear-fix a:hover,
.prev-page button:hover,
.next-page button:hover {
    background: #0097b2;
    color: white;
}

/* FOOTER
============================================================================ */
footer {
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
    /* background-color: #dadada; */
    vertical-align: middle;
    height: 100px;
}
.footer-text {
    padding-top: 10px;
    text-align: center;
}